*.py[cod]
*.egg
build
htmlcov
__pycache__
.python-version

*parquet
poetry.lock
*~
*.root
*.in
*dat
*pdf
*log
*png

*/*
!Analyzer/*
!BDT_utilities/*
!Combine/*
!Plotting/*
!ScaleFactors/*
!commons/*
!scripts/*
!Variable_Creator/*
!data/*
!ntuple_info/example.py

data/python/plotInfo/*py
data/POG
!data/python/plotInfo/plotInfo_default.py
