*.py[cod]
*.egg
build
htmlcov
__pycache__
.python-version

*~
*.root
*.in
*dat
*pdf
*log
*png

*/*
!skim/*
!machine_learning/*
!combine/*
!plotting/*
!commons/*
!scripts/*
!flatten/*
!data/*
!ntuple_info/*

ntuple_info/__init__.py

!data/python/plotInfo/*py
data/POG
!data/POG/USER/*
