*.py[cod]
*.egg
build
htmlcov
__pycache__
.python-version

*parquet
poetry.lock
*~
*.root
*.in
*dat
*pdf
*log

*/*
!Analyzer/*
!BDT_utilities/*
!Combine/*
!Plotting/*
!ScaleFactors/*
!commons/*
!scripts/*
!Variable_Creator/*
!data/*

data/python/inputs*
!data/python/inputs_default.py

data/python/plotInfo/*py
!data/python/plotInfo/plotInfo_default.py
