# no in cmssw
anytree
mplhep
boost_histogram
sphinx
sphinxawesome_theme
prettytable

# in cmssw
numpy
awkward1==0.4.5
matplotlib
uproot4==0.1.0
uproot==3.13.0
uproot_methods==0.9.2
atomic
pandas
xgboost
sklearn
